.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
outputs/
checkpoints/
models/
data/raw/*
data/interim/*
data/processed/*
data/manifests/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/manifests/.gitkeep
*.wav
*.mp3
*.zip
kaggle.json
.DS_Store
